body{
    margin: 0;
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
    background-image: url(/images/pattern-background-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

p{
    color: gray;
    font-size: 16px;
}

h1{
  color:  hsl(223, 47%, 23%);
  font-weight: 900;
}

.main-wrap{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 450px;
    background-color: white;
    border-radius: 20px;
}

.order-plan{
    display: flex;
    justify-content: space-between;
    
}

.card-image{
    border-radius: 20px 20px 0px 0px;
}

button {
    border-radius: 10px;
    height: 44px;
    width: 80%;
    margin-bottom: 20px;
    align-items: stretch;
    
}
.button-one{
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
}

.button-two{
    color: gray;
    font-weight: 900;
}